@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Power Shoes</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes")
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/notify.css" rel="stylesheet" />
    <link href="~/Content/chart.css" rel="stylesheet" />
    <link href="~/Content/rumca.css" rel="stylesheet" />
    <link href="~/Content/bi-style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/notify.js"></script>
    @*<script src="~/Scripts/jquery.chart.js"></script>*@
    <script src="~/Scripts/rumca.js"></script>
    <script src="~/Scripts/jquery-barIndicator.js"></script>
</head>
<body style="overflow-y:scroll;">
    <div class="navbar header navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>@Html.ActionLink("Best Power Shoes", "Index", "Home", null, new { @class = "navbar-brand" })</h1>
            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="glyphicon glyphicon-user">
                                    </span>Plan
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="~/Home/Index">Plans</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="~/Home/PlanChart">Plan Progress</a>
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                Delete Account
                                            </a>
                                        </td>
                                    </tr>*@
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-folder-close">
                                    </span>Article
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="@Url.Action("Add","Article")">Articles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                            <span class="badge">42</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="glyphicon glyphicon-th">
                                    </span>Party
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("PartyIndex","Home")">Parties</a> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("PaymentIndex","Home")">Payments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Tex</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Process
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table id="processTbl" class="table">
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("MovePlanProcess", "Home", new { id = "1" })">Move Plan Process</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ProcessDetail", "Home", new { id = "1" })">Cutting</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ProcessDetail", "Home", new { id = "1" })">Stiching</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ProcessDetail", "Home", new { id = "1" })">Printing</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ProcessDetail", "Home", new { id = "1" })">Embos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ProcessDetail", "Home", new { id = "1" })">Sole Injection</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ProcessDetail", "Home", new { id = "1" })">Paking</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Bill
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="@Url.Action("AdvancePayment", "Home")">Advance Payment To Party</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="@Url.Action("PaymentIndex", "Home")">Cutting</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="@Url.Action("PaymentIndex", "Home")">Stiching</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="@Url.Action("PaymentIndex", "Home")">Printing</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="@Url.Action("PaymentIndex", "Home")">Emboss</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="@Url.Action("PaymentIndex", "Home")">Sole Injection</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="@Url.Action("PaymentIndex", "Home")">Packing</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="@Url.Action("PaymentSearch", "Home")">Payment Search</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Stock
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-9 col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="container" style="text-align:center;">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        window.BasePath = {
            BaseApiUrl: '@ConfigurationManager.AppSettings["Api_Url"]',
        };        
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>